/********** 颜色 *********/

/* 主题色 */
$main-color: #ff4b55;

/* 蓝色 */
$light-blue: #58b7ff;
$dark-blue: #1d8ce0;

/* 灰色 */
$gray: #666;

/* 白色 */
$white: #fff;
$dark-white: #F9FAFC;

/* 黑色 */
$black: #1f2d3d;

/* 绿色 */
$green: #13ce66;

/* 银色 */
$sliver: #C0CCDA